.footer {
  margin-top: 5rem;
}

.rules {
  @include flex-center();
  &__btn {
    height: 40px;
    width: 130px;
    border-radius: 10px;
    color: $white;
    background: transparent;
    border: 1px solid $header-outline;
    text-transform: uppercase;
    font-family: 'Barlow Semi Condensed', sans-serif;
    letter-spacing: 0.1rem;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
  }
}

.rules-modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 5rem 1rem;
  background: #e6e6e6;
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.5);

  &__title {
    font-size: 2rem;
    text-transform: uppercase;
    color: $dark-text;
    @include flex-center();
    margin-bottom: 2rem;
  }

  .rules-img {
    width: 100%;
    display: inline-block;
    height: max-content;
  }

  .close-btn {
    width: 7%;
    cursor: pointer;

    &__contain {
      @include flex-center();
      margin-top: 6.5rem;
    }
  }
}
