header {
  display: flex;
  border: 2px solid $header-outline;
  border-radius: 5px;
  width: 80vw;
  margin: 0 auto;
  padding: 10px;
}

.heading {
  flex: 1 1 auto;
  width: 50%;
  height: auto;
  &__title {
    font-size: 1.25rem;
    color: $white;
    word-spacing: 100vw;
    font-weight: map-get($font-weights, bold);
  }
}

.score {
  flex: 1 1 auto;
  height: auto;
  background-color: $white;
  border-radius: 5px;
  text-align: center;

  &__heading {
    color: $score-text;
    // height: ;
  }

  &__total {
    color: $dark-text;
  }
}
