header {
  display: flex;
  border: 2px solid $header-outline;
  border-radius: 5px;
  width: 80vw;
  margin: 1.5rem auto;
  padding: 10px;
}

.heading {
  flex: 1 1 auto;
  width: 50%;
  height: auto;
  &__title {
    font-size: 1.25rem;
    color: $white;
    word-spacing: 100vw;
    font-weight: map-get($font-weights, bold);
    padding: 0.5rem;
    line-height: 0.8;
  }
}

.score {
  flex: 1 1 auto;
  height: auto;
  background-color: $white;
  border-radius: 5px;
  text-align: center;

  &__heading {
    color: $score-text;
    height: 30%;
    font-size: 0.75rem;
    font-weight: map-get($font-weights, semi-bold);
    padding-top: 0.5rem;
  }

  &__total {
    color: $dark-text;
    height: 70%;
    font-size: 2.5rem;
    font-weight: map-get($font-weights, bold);
  }
}
