@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-style($color) {
  height: 132px;
  width: 132px;
  border-radius: 50%;
  border: 14px solid $color;
  background-color: $white;
  cursor: pointer;
}

main {
  margin: 0 auto;
  margin-top: 3.5rem;
}

.main-menu {
  background-image: url('/dist/images/bg-triangle.svg');
  background-position: 50% 160%;
  background-repeat: no-repeat;
  background-size: 15rem 15rem;
}

.top__row {
  @include flex-center();
  justify-content: space-around;
  &--paper {
    @include button-style($paper-gradient-light);
    @include flex-center();
  }
  &--scissors {
    @include button-style($scissors-gradient-light);
    @include flex-center();
  }
}

.bot__row {
  @include flex-center();
  margin-top: 0.75rem;
  &--rock {
    @include button-style($rock-gradient-light);
    @include flex-center();
  }
}

.rules-modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 5rem 1rem;
  background: #e6e6e6;
  z-index: 100;

  &__title {
    font-size: 2rem;
    text-transform: uppercase;
    color: $dark-text;
    @include flex-center();
    margin-bottom: 5rem;
  }

  .rules-img {
    width: 100%;
    display: inline-block;
  }

  .close-btn {
    width: 7%;
    margin-top: 10rem;
    margin-left: 10rem;
    cursor: pointer;
    display: inline-block;
  }
}
