@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-style($color, $height, $width, $box-shadow-color) {
  height: $height + px;
  width: $width + px;
  border-radius: 50%;
  border: 14px solid $color;
  background-color: $white;
  cursor: pointer;
  box-shadow: inset 0 0.45em RGB(0 0 0/15%), 0 0.5em $box-shadow-color;
}

main {
  margin: 0 auto;
  margin-top: 3.5rem;
}

.main-menu {
  // background-image: url('/images/bg-triangle.svg');
  background-image: url('../images/bg-triangle.svg');
  background-position: 50% 160%;
  background-repeat: no-repeat;
  background-size: 15rem 15rem;
}
.top__row {
  @include flex-center();
  justify-content: space-around;
  &--paper {
    @include button-style($paper-gradient-light, 132, 132, hsl(230, 89%, 58%));
    @include flex-center();
  }
  &--scissors {
    @include button-style($scissors-gradient-light, 132, 132, hsl(40, 84%, 40%));
    @include flex-center();
  }
}

.bot__row {
  @include flex-center();
  margin-top: 0.75rem;
  &--rock {
    @include button-style($rock-gradient-light, 132, 132, hsl(349, 70%, 42%));
    @include flex-center();
  }
}

.paper-img,
.rock-img,
.scissors-img {
  height: 60%;
  width: 50%;
}

.result-menu {
  display: none;
}

.top__row {
  @include flex-center();
  justify-content: space-around;
}

.user__answer {
  @include button-style($background-gradient-dark, 132, 132, hsl(349, 70%, 42%));
  background-color: $background-gradient-dark;
  @include flex-center();
}

.computer__answer {
  @include button-style($background-gradient-dark, 132, 132, hsl(349, 70%, 42%));
  background-color: $background-gradient-dark;
  @include flex-center();
}

.medium__row {
  @include flex-center();
  justify-content: space-around;
  margin-top: 1rem;
  padding-left: 1rem;
}

.result {
  @include flex-center();
  margin-top: 4rem;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: map-get($font-weights, bold);
}

.play__again {
  @include flex-center();
  margin-top: 1.5rem;
  &--btn {
    font-size: 0.9rem;
    height: 45px;
    width: 220px;
    border-radius: 10px;
    color: $background-gradient-dark;
    background: $white;
    border: 1px solid $header-outline;
    text-transform: uppercase;
    font-family: 'Barlow Semi Condensed', sans-serif;
    letter-spacing: 0.1rem;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
  }
}

.winner {
  animation: winner-anim 4s ease infinite;
}

@keyframes winner-anim {
  0% {
    box-shadow: 0 0 0 3em hsla(0, 0%, 100%, 0.025), 0 0 0 4em hsla(0, 0%, 100%, 0.025), 0 0 0 5em hsla(0, 0%, 100%, 0.025);
  }
  50% {
    box-shadow: 0 0 0 3.5rem hsla(0, 0%, 100%, 0.025), 0 0 0 5.5rem hsla(0, 0%, 100%, 0.025), 0 0 0 7.5em hsla(0, 0%, 100%, 0.025);
  }
  to {
    box-shadow: 0 0 0 1rem hsla(0, 0%, 100%, 0.025), 0 0 0 2rem hsla(0, 0%, 100%, 0.025), 0 0 0 3em hsla(0, 0%, 100%, 0.025);
  }
}
