@include media-md {
  header {
    width: 60vw;
  }

  .heading {
    &__title {
      font-size: 2.25rem;
    }
  }

  .score {
    &__heading {
      font-size: 1rem;
    }

    &__total {
      font-size: 3.5rem;
    }
  }

  .footer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 95vw;
  }

  .rules-modal {
    border-radius: 10px;
    top: 8rem;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    height: 50vh;
    padding: 1rem;

    &__title {
      justify-content: flex-start;
      padding-left: 1rem;
    }

    .rules-img {
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      display: block;
    }

    .close-btn {
      width: 100%;
      &__contain {
        position: absolute;
        top: 0.15rem;
        right: 2rem;
        margin-top: 1.5rem;
      }
    }
  }

  .main-menu {
    width: 60vw;
    margin: 0px auto;
    background-position: 50% 80%;
  }

  .top__row {
    &--paper {
      @include button-style($paper-gradient-light, 160, 160);
    }
    &--scissors {
      @include button-style($scissors-gradient-light, 160, 160);
    }
  }

  .bot__row {
    &--rock {
      @include button-style($rock-gradient-light, 160, 160);
    }
  }

  .user__answer {
    @include button-style($background-gradient-dark, 160, 160);
  }

  .computer__answer {
    @include button-style($background-gradient-dark, 160, 160);
  }

  .result-menu {
    width: 80vw;
    margin: 0 auto;

    .top__row {
      justify-content: space-between;
    }
  }

  .medium__row {
    justify-content: space-between;
    width: 75vw;
    margin: 0 auto;
    margin-top: 1rem;
  }

  .result {
    position: absolute;
    top: 12rem;
    left: 18rem;
    width: 12rem;
    text-align: center;
  }

  .play__again {
    position: absolute;
    top: 20rem;
    left: 19.5rem;
    &--btn {
      width: 9rem;
    }
  }
}

@include media-lg {
}

@include media-xl {
}

// draw, lose, win
// position: absolute;
// top: 12rem;
// left: 18rem;
// width: 12rem;
// text-align: center;

// play again
// position: absolute;
//     top: 20rem;
//     left: 19.5rem;

// play again btn
// width: 9rem;
