@include media-sm {
  header {
    width: 60vw;
  }

  .main-menu {
    width: 70vw;
    margin: 0 auto;
  }

  .rules-modal {
    border-radius: 10px;
    top: 8rem;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 55vw;
    height: 55vh;
    padding: 1rem;

    &__title {
      justify-content: flex-start;
      padding-left: 1rem;
    }

    .rules-img {
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      display: block;
    }

    .close-btn {
      width: 100%;
      &__contain {
        position: absolute;
        top: 0.15rem;
        right: 2rem;
        margin-top: 1.5rem;
      }
    }
  }
}

@include media-md {
  main {
    margin-top: 4rem;
  }

  header {
    width: 60vw;
  }

  .heading {
    &__title {
      font-size: 2.25rem;
    }
  }

  .score {
    &__heading {
      font-size: 1rem;
    }

    &__total {
      font-size: 3.5rem;
    }
  }

  .footer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 95vw;
  }

  .rules-modal {
    &__title {
      justify-content: flex-start;
      padding-left: 1rem;
    }
  }

  .main-menu {
    width: 60vw;
    margin: 0px auto;
    background-position: 50% 80%;
  }

  .top__row {
    &--paper {
      @include button-style($paper-gradient-light, 160, 160, hsl(230, 89%, 58%));
    }
    &--scissors {
      @include button-style($scissors-gradient-light, 160, 160, hsl(40, 84%, 40%));
    }
  }

  .bot__row {
    &--rock {
      @include button-style($rock-gradient-light, 160, 160, hsl(349, 70%, 42%));
    }
  }

  .user__answer {
    @include button-style($background-gradient-dark, 160, 160, hsl(349, 70%, 42%));
  }

  .computer__answer {
    @include button-style($background-gradient-dark, 160, 160, hsl(349, 70%, 42%));
  }

  .result-menu {
    width: 80vw;
    margin: 0 auto;

    .top__row {
      justify-content: space-between;
    }
  }

  .medium__row {
    justify-content: space-between;
    width: 75vw;
    margin: 0 auto;
    margin-top: 1rem;
  }

  .result {
    margin-top: 2rem;
  }
}

@include media-lg {
  header {
    width: 50vw;
  }

  main {
    margin-top: 3rem;
  }

  .main-menu {
    width: 60vw;
    background-position: 50% 75%;
    background-size: 24rem 18rem;
  }

  .result-menu {
    width: 70vw;
  }

  .result {
    font-size: 3.5rem;
  }

  .medium__row {
    width: 65vw;
    font-size: 1.25rem;
  }

  .top__row {
    &--paper {
      @include button-style($paper-gradient-light, 190, 190, hsl(230, 89%, 58%));
    }
    &--scissors {
      @include button-style($scissors-gradient-light, 190, 190, hsl(40, 84%, 40%));
    }
  }

  .bot__row {
    &--rock {
      @include button-style($rock-gradient-light, 190, 190, hsl(349, 70%, 42%));
    }
  }

  .user__answer {
    @include button-style($background-gradient-dark, 190, 190, hsl(230, 89%, 58%));
  }

  .computer__answer {
    @include button-style($background-gradient-dark, 190, 190, hsl(230, 89%, 58%));
  }

  .rules-modal {
    width: 45vw;
  }
}

@include media-xl-mod {
  .rules-modal {
    width: 50vw;
  }
}

@include media-xl {
  .main-menu {
    width: 55vw;
  }

  main {
    margin-top: 1rem;
  }

  .rules-modal {
    width: 39vw;
  }

  .result-menu {
    width: 60vw;
  }

  .medium__row {
    width: 55vw;
    margin-top: 2rem;
  }

  .result {
    font-size: 4rem;
  }

  .footer {
    margin-top: 3rem;
  }
}

@include media-xxl {
  header {
    width: 40vw;
  }

  .main-menu {
    width: 45vw;
    background-position: 50% 65%;
    background-size: 30rem 20rem;
  }

  .top__row {
    &--paper {
      @include button-style($paper-gradient-light, 220, 220, hsl(230, 89%, 58%));
    }
    &--scissors {
      @include button-style($scissors-gradient-light, 220, 220, hsl(40, 84%, 40%));
    }
  }

  .bot__row {
    &--rock {
      @include button-style($rock-gradient-light, 220, 220, hsl(349, 70%, 42%));
    }
  }

  .user__answer {
    @include button-style($background-gradient-dark, 220, 220, hsl(349, 70%, 42%));
  }

  .computer__answer {
    @include button-style($background-gradient-dark, 220, 220, hsl(349, 70%, 42%));
  }

  .medium__row {
    font-size: 2rem;
    width: 58vw;
  }
  .result {
    font-size: 6rem;
  }

  .play__again--btn {
    font-size: 1.2rem;
    height: 65px;
    width: 220px;
  }

  .rules-modal__title {
    font-size: 3rem;
    padding-left: 4rem;
    padding-top: 0.5rem;
  }

  .rules-modal__title {
    padding-top: 0.5rem;
  }

  .rules-modal .close-btn__contain {
    top: 0.75rem;
    right: 4rem;
    width: 4%;
  }

  .rules__btn {
    height: 55px;
    width: 150px;
  }
}
